
@{
    ViewBag.Title = "Home";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<br />
<br />
<div class="container">
    <br />
    <div class="col-md-offset-1 col-md-10">
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                <img src="~/Images/university-logo.jpg" width="100%" />
            </div>
        </div>
        <h1 align="center">MSc Computer Science Thesis</h1>
        <br />
        <div class="row">
                <p>This project was part of my Master Thesis at the University of Southampton. Through my personal experience, I thought that there is a need for a platform that helps developers and students learn the very popular methodology.</p>
                <p>While there are applications that help a team do Scrum, they are either too relaxed and don't try to serve as an introduction, or too expensive for a team of students or young developers to use. Due to this, I feel like my application serves a useful purpose by targeting these two groups by teaching them the framework that they will no doubt come in contact with during their professional career.</p>
        </div>
        <br />
        <div class="row">
            <p class="lead">About me</p>
            <p>I am a Master student of Computer Science at the University of Southampton with a bachelors degree at the University of Lisbon. After my degree, I have a job at Amazon Web Services to work as a Technical Researcher.</p>
            <p>Through my degrees, I have developer many projects with ranging technologies which can be seen on my <a target="_blank" href="https://github.com/JCoelhoo">GitHub page</a>.</p>
        </div>
        <br />
        <div class="row">
            <p class="lead">Open source</p>
            <div class="container col-md-offset-1">
                <a style="text-decoration: none; color: black;" target="_blank" href="https://github.com/JCoelhoo/OnlineScrum">
                    <i class="pull-left fa fa-github" style="font-size: 70px;" aria-hidden="true"></i>
                </a>
                <div class="col-md-8 col-md-offset-1">
                    <p>This platform was build with ASP.NET MVC using a MySQL relational database.</p>
                    <p>All of the code can be seen on my <a target="_blank" href="https://github.com/JCoelhoo">GitHub page</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>