
@{
    ViewBag.Title = "Home";
}

<h2 class="display-4" align="center">OnlineScrum</h2>
<br />
<p class="lead" align="center">OnlineScrum is an online platform that allows a team to implement the Scrum Methodology for Software development.</p>


