
@{
    ViewBag.Title = "Home";
}
<style>
    .affix {
        position: fixed;
        top: 70px;
    }

    *[id]:before {
        display: block;
        content: " ";
        margin-top: -50px;
        height: 50px;
        visibility: hidden;
    }
</style>

<script>
    $(document).ready(function () {
        // Add smooth scrolling to all links
        $("a").on('click', function (event) {

            // Make sure this.hash has a value before overriding default behavior
            if (this.hash !== "") {
                // Prevent default anchor click behavior
                event.preventDefault();

                // Store hash
                var hash = this.hash;

                // Using jQuery's animate() method to add smooth page scroll
                // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                $('html, body').animate({
                    scrollTop: $(hash).offset().top
                }, 500, function () {

                    // Add hash (#) to URL when done scrolling (default click behavior)
                    window.location.hash = hash;
                });
            } // End if
        });
    });
</script>

<div id="top" class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="text-center">OnlineScrum</h1>
        <p class="lead">Online platform aimed to help students and developers get introduced to the Scrum Methodology.</p>
    </div>
</div>

<body data-spy="scroll" data-target="#myScrollspy" data-offset="50">
    <div class="col-md-9">
        <div id="overview">
            <h1>Overview</h1>
            <p class="lead">
                Why?
            </p>
            <figure class="container">
                <div class="col-md-12">
                    <p>Scrum is one of the most popular framework for software development. While a lot of students get introduced to the methodology during their degrees, a lot of developers are lacking the experience of developing a project following the framework.</p>
                    <p>
                        According to a survey by the <a target="_blank" href="https://scrumalliance.com"><i>ScrumAlliance</i></a>, Scrum is used in <strong>89% of the organisations</strong> as one of their methodologies.
                        For this reason, it is paramount that students and developers know it and practise it if they wish to join a professional environment.
                    </p>
                </div>
                <figcaption class="col-md-8 col-md-offset-2">
                    <img src="~/Images/scrum-usage.png" width="100%" />
                    <figcaption class="text-center">
                        <small class="text-muted">TODO REMOVE BG - Which Agile approach is your organization using? - <a target="_blank" href="https://www.scrumalliance.org/scrum/media/ScrumAllianceMedia/Files%20and%20PDFs/State%20of%20Scrum/State0fScrum_2016_FINAL.pdf?aliId=242569079"><i>ScrumAlliance</i></a></small>
                    </figcaption>
                </figcaption>
            </figure>
            <hr />

            <p class="lead">
                Platform Features
            </p>
            <div class="container">
                <p>
                    Online Scrum offers a very intuitive and easy to follow process that allows developers to get a hands on experience.
                    This is done by providing explicitly guiding the user and educate them through each step of the methodology.
                </p>
                <p>
                    We facilitate the visualisation of the progress of the Sprints and Item progression through <strong>Burndown charts</strong> as well as <strong>Velocity charts</strong>.
                </p>
                <div class="col-md-12 row">

                    <figcaption class="col-md-6">
                        <img src="~/Images/burndown-chart.png" style="width: 100%;height: auto" />
                        <figcaption class="text-center">
                            <small class="text-muted">Burndown Chart (Click)</small>
                        </figcaption>
                    </figcaption>
                    <figcaption class="col-md-6">
                        <img src="~/Images/velocity-chart.png" style="width:100%" />
                        <figcaption class="text-center">
                            <small class="text-muted">Velocity Chart (Click)</small>
                        </figcaption>
                    </figcaption>
                </div>
                <br />
                <p>
                    Throughtout the platform, there are <strong>helpful popups</strong> to support the user in learning what the different Scrum Roles, Artifacts and Workflow
                </p>
                <p>
                    We suggest you follow the <strong>recommendations</strong> of the <a target="_blank" href="http://scrumalliance.com"><i>ScrumAlliance</i></a> and provide the relevant information so you can decide if you wish to follow the standard Scrum practices
                </p>
                <p>
                    When you are deviating from the traditional Scrum pratices, we point it so the user is aware of the do's and don's of Scrum.
                    Any <strong>common mistakes</strong> that are made by the Scrum team are pointed out as to ensure the completion of the project according to the framework.
                </p>
                <p>We <strong>automate the process</strong> (e.g. creation of Scrum Meetings) for the user so he follows the Scrum process and <strong>offer tips </strong> that they might have missed.</p>

            </div>
        </div>

        <div id="scrum">
            <h1>Scrum</h1>
            <div class="container">
                <p><i>OnlineScrum</i> follows the guidelines set by the <a target="_blank" href="http://scrumalliance.com"><i>ScrumAlliance</i></a>. This platform constains the Artifacts, Roles(NOT EVERY) and Workflow of the Scrum Methodology.</p>
                <div class="container">
                    <p><strong>Roles:</strong> Scrum Master, Developer Team</p>
                    <p><strong>Artifact:</strong> Product backlog, Sprint backlog, Sprints, Items, Daily Scrum meetings...</p>
                </div>
                <div class="row">
                    <figcaption class="col-md-10 col-md-offset-1">
                        <img src="~/Images/scrum-overview.png" width="100%" />
                        <figcaption class="text-center">
                            <small class="text-muted">Overview of the Scrum Framework - <a target="_blank" href="https://www.scrumalliance.org/scrum/media/ScrumAllianceMedia/Files%20and%20PDFs/Agile%20Resources/S_OverviewofScrumFrame_1.pdf"><i>ScrumAlliance</i></a></small>
                        </figcaption>
                    </figcaption>
                </div>
                <br />
                <p>Across the platform, there are instructions on the workflow of Scrum that serve as an introduction for developers that are not familiar with the framework. To get an overview, check this <a target="_blank" href="https://www.scrumalliance.org/scrum/media/ScrumAllianceMedia/Files%20and%20PDFs/Agile%20Resources/S_OverviewofScrumFrame_1.pdf"><strong>guide</strong></a> by the <a target="_blank" href="http://scrumalliance.com"><i>ScrumAlliance</i></a></p>
            </div>
        </div>

        @*<div id="features">
                <h1>Features</h1>
                <p class="lead">
                    Sprints
                </p>
                <div class="container">
                    <p>Scrum iss....</p>
                </div>

                <p class="lead">
                    Items
                </p>
                <div class="container">
                    <p>Scrum iss....</p>
                </div>

                <p class="lead">
                    Meetings
                </p>
                <div class="container">
                    <p>Scrum iss....</p>
                </div>
            </div>*@

        <div id="certifications">
            <p>
                <h1>Certifications  <a href="https://www.scrumalliance.org/certifications" target="_blank"><span style="font-size: 15px; top: -15px;" class="glyphicon glyphicon-new-window "></span></a></h1>
            </p>
            <div class="container">
                <p>While this platform offers an introduction to the Scrum methodology, the <a target="_blank" href="https://scrumalliance.com"><i>ScrumAlliance</i></a> offers certifications to anyone that aims to have the full Scrum experience.</p>
                <p>They have certifications for different roles within the Scrum team whether you'd like to practice, train or coach. <a>Find out more!</a></p>
            </div>
        </div>
    </div>

    <div class="col-md-3" id="myScrollspy">
        <nav data-spy="affix" data-offset-top="250" class="hidden-xs">
            <ul class="nav nav-pills nav-stacked" id="menu">
                <li>
                    <a href="#overview">Overview</a>
                </li>
                <li>
                    <a href="#scrum">Scrum</a>
                </li>
                @*<li>
                        <a href="#features">Features</a>
                    </li>*@
                <li>
                    <a href="#certifications">Certifications</a>
                </li>

            </ul>
            <a class="btn btn-link" href="#top"><small>Back to top</small></a>

        </nav>
    </div>
</body>
<script>
    $(function () {
        $('img').on('click', function () {
            $('.enlargeImageModalSource').attr('src', $(this).attr('src'));
            $('#enlargeImageModal').modal('show');
        });
    });
</script>
<div class="modal fade" id="enlargeImageModal" tabindex="-1" role="dialog" aria-labelledby="enlargeImageModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img src="" class="enlargeImageModalSource" style="width: 100%;">
            </div>
        </div>
    </div>
</div>