@using OnlineScrum.Models

@{
    ViewBag.Title = "Home";
}
<div class="col-md-9">
    <br />
    @foreach (Project proj in ViewBag.Projects)
    {
        <div class="row">
            <form action="/project" method="POST">
                <h2 class="col-md-4">@proj.Name</h2>
                <input style="margin-top: 15px" type="submit" class="btn col-md-2 btn-default" value="Access project" />
                <input type="hidden" name="projectName" value="@proj.Name" />
            </form>
        </div>
    }
</div>