@{
    ViewBag.Title = "Home";
}
</br>
<div class="row">
    <div class="col-md-12" align="center">
        <h3>
            You don't have any projects!
            To create one, <a href="/new_project">click here</a>
        </h3>
    </div>
</div>